Source: linz-lds-bde-schema
Section: database
Priority: extra
Build-Depends: debhelper (>= 7), python
Standards-Version: 3.9.5
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz-lds-bde-schema.git
Vcs-Browser: https://github.com/linz/linz-lds-bde-schema.git

Package: linz-lds-bde-schema
Architecture: all
Depends: ${misc:Depends},
         tableversion,
         dbpatch,
         linz-bde-uploader (>= 2.4.0),
         linz-bde-schema
Description: Provides the schemas and functions to generate the Landonline
 layers and tables that are available on the LDS.
