Source: linz-lds-bde-schema
Section: database
Priority: extra
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz-lds-bde-schema.git
Vcs-Browser: https://github.com/linz/linz-lds-bde-schema.git

Package: linz-lds-bde-schema
Architecture: all
Depends: ${misc:Depends},
         postgresql-12-tableversion (>= 1.4.0) | postgresql-11-tableversion (>= 1.4.0) | postgresql-10-tableversion (>= 1.4.0) | postgresql-9.6-tableversion (>= 1.4.0) | postgresql-9.5-tableversion (>= 1.4.0) | postgresql-9.4-tableversion (>= 1.4.0) | postgresql-9.3-tableversion (>= 1.4.0),
         postgresql-12-dbpatch (>= 1.2.0) | postgresql-11-dbpatch (>= 1.2.0) | postgresql-10-dbpatch (>= 1.2.0) | postgresql-9.6-dbpatch (>= 1.2.0) | postgresql-9.5-dbpatch (>= 1.2.0) | postgresql-9.4-dbpatch (>= 1.2.0) | postgresql-9.3-dbpatch (>= 1.2.0),
         linz-bde-uploader (>= 2.4.0),
         linz-bde-schema
Description: Provides the schemas and functions to generate the Landonline
 layers and tables that are available on the LDS.
